@media only screen and (min-width: 150px){

body{
		background:url('img/tatry.jpg') no-repeat;
		background-size: cover;
		height:662px;
		margin:0;
		padding:0;


	}

#tit
{
	color:white;
	opacity:0.8;
	font-size: 25px;
	padding:10px;
	text-align: center;
}

#nav
{
display: inline-block;
background: rgba(0,0,0,0.5);
width:100%;
position:fixed;
top:200px;
margin: 0;
}
.button{

	display: inline-block;
	font-size:22px;
	float:left;
	color:#fff;
	padding:8px 12px;
	width:23%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	flex-direction: column;
	min-width: 150px;
}
.button:hover{
	cursor: pointer;
	background-color: #fff;
	color:#333;

}
.fa:hover{
	color:#fff;
}
.button .fa{
	background-color: #000;
	border-radius: 50%;
	width:39px;
	height:39px;
	margin-top: 5px;
	line-height: 39px;
}
#content
{
	width:100%;
	top:130px;
	position:relative;
	max-height:385px;

}

}
